@model MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Kategori</h2>
<h3>Input ile yapılan </h3>
<br />
<form method="post" action="/Kategori/KategoriEkle">
    <div class="form-group">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="KategoriAd" />
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
<br />
<h3>Murat Hocanın Html Helper ile Yaptığı</h3>
<form class="form-group" method="post">
    @Html.LabelFor(x => x.KategoriAd)
    @Html.TextAreaFor(x => x.KategoriAd, new { @class = "form-control", @placeholder = "Kategori Adı" })
    <br />
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
