@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cariler
@{
    ViewBag.Title = "YeniCari";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Cari Ekle</h2>
<br />
<form method="post" action="/Cari/YeniCari">
    <div class="form-group">
        <label>Cari Ad</label>
        <input type="text" class="form-control" name="CariAd" />
    </div>
    <div class="form-group">
        <label>Cari Soyad</label>
        <input type="text" class="form-control" name="CariSoyad" />
    </div>
    <div class="form-group">
        <label>Cari Şehir</label>
        <input type="text" class="form-control" name="CariSehir" />
    </div>
    <div class="form-group">
        <label>Cari Mail</label>
        <input type="text" class="form-control" name="CariMail" />
    </div>
    <div class="form-group">
        <label>Cari Telefon</label>
        <input type="text" class="form-control" name="CariTelefon" />
    </div>
    <div class="form-group">
        <label>Cari Durum</label>
        <select class="form-control" name="CariDurum">
            <option value="True">Aktif</option>
            <option value="False">Pasif</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
<br />

